<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- HTML Meta Tags -->
        <title><%= embed.title %></title>
        <meta name="description" content="<%= embed.description %>" />

        <!-- Google / Search Engine Tags -->
        <meta itemprop="name" content="<%= embed.title %>" />
        <meta itemprop="description" content="<%= embed.description %>" />
        <meta itemprop="image" content="<%= embed.image %>" />

        <!-- Facebook Meta Tags -->
        <meta property="og:title" content="<%= embed.title %>" />
        <meta property="og:description" content="<%= embed.description %>" />
        <meta property="og:image" content="<%= embed.image %>" />

        <!-- Twitter Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content="<%= embed.title %>" />
        <meta name="twitter:description" content="<%= embed.description %>" />
        <meta name="twitter:image" content="<%= embed.image %>" />
    </head>

    <body>
        <h2>Title</h2>
        <p><%= embed.title || "No title specified." %></p>

        <h2>Description</h2>
        <p><%= embed.description || "No description specified." %></p>

        <h2>Image</h2>
        <p><%= embed.image || "No image specified." %></p>
    </body>

    <script>
        const title = "<%= embed.title %>";
        const desc = "<%= embed.description %>";
        const image = "<%= embed.image %>";

        if(!title && !desc && !image) window.location = "/";
    </script>
</html>
